<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
{%block navbar %}
<div class="bg-primary">
    <div>
      <nav class="navbar navbar-expand navbar-dark bg-primary p-0">
        <ul class="navbar-nav ml-3">
          <li class="nav-item ">
            <a class="nav-link {%if page == 0%} active {%endif%}" href="{% url 'list-staff' %}">Quản lý tài khoản nhân viên</a>
          </li>        
          <li class="nav-item ">
            <a class="nav-link {% if page == 1 %} active {% endif %}" href="{% url 'list-user' %}">Quản lý tài khoản thành viên</a>
          </li> 
          <li class="nav-item ">
            <a class="nav-link {% if page == 2 %} active {% endif %}" href="{% url 'statistical' %}">Thống kê doanh thu</a>
          </li> 
        </ul>
  
        <ul class="navbar-nav ml-auto mr-3">
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle p-0" data-toggle="dropdown" href="#">
              <img class="rounded-circle" style="width:60px" src="/static/images/user.svg">
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">
                Thông tin tài khoản
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/accounts/logout">
                Đăng xuất
              </a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}
{% block content %}
{% endblock %}
